<app-menubar></app-menubar>
<div class="container-fluid">
    <div class="row ml-2 mt-2">
        <div class="col">
            <div class="row mt-2">
                <span style="font-size: 12px;">Showing {{orgService.getFilteredResultCount() | async}} {{((orgService.getFilteredResultCount() | async) > 1)  ? 'results' : 'result'}}</span>
            </div>
            <div class="row">
                <div class="col p-m-l-none">
                    <div class="card" style="border: none;">
                        <div class="card-body p-m-l-none"
                         style="padding-bottom: 10px;">
                            <h5>Filters</h5>
                        </div>
                    </div>
                </div>
                <div class="col p-m-r-none p-m-l-none">
                    <div class="card" style="border: none;">
                        <div class="card-body p-m-l-none" style="text-align: right; padding-bottom: 10px;">
                            <a style="font-size: 15px;" (click)="onClear()">clear all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10 d-flex flex-column-reverse">
            <div class="row mb-3">
                <app-filtered-element></app-filtered-element>
            </div>
        </div>
    </div>
    <div class="row ml-2">
        <div class="col">
            <div class="row">
                <div class="col p-m-l-none">
                    <app-industry></app-industry>
                </div>
            </div>
            <div class="row">
                <app-product></app-product>
            </div>
        </div>
        <div class="col-10">
            <app-orgdetail></app-orgdetail>
        </div>
    </div>
</div>